h1, h2, h3, p {
    font-family: Helvetica;
}

h1 {
    background-image: url(../images/pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
    position: relative;
    display: 0px auto;
    margin: 50px 10px 10px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

.price {
    font-weight: bold;
    color: blue;
}